.login-page {
    width: 100%;
    height: 100vh;
    background-color: red;
}

.login-page img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* login logo */
.login .login-logo {
    text-align: right;
    padding: 20px;
}

.login .login-logo img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    object-position: center;
}

/* login top info */
.login .login-info {
    text-align: right;
    padding: 20px;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.login .login-info p {
    color: gray;
}

/* login form */
.login .login-form{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    direction: rtl;
}

.login .login-form .login-form-group{
    font-size: 14px;
    text-align: right;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 5px;
}
.login .login-form .login-form-group input{
    padding: 5px;
    outline: 0;
    border-radius: 5px;
    border: 1px solid var(--gray);
    transition: 300ms;
}
.login .login-form .login-form-group input:focus{
    border: 1px solid var(--green);
}

/* login form caption */
.login .login-form .login-form-caption{
    padding: 20px;
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    align-items: center;
}

.login .login-form .login-form-caption div{
    display: flex;
}

/* login form buttons */
.login .login-form .form-buttons{
    display: flex;
    justify-content: space-between;
}

.login .login-form .form-buttons button{
    color: white;
    background-color: gray;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
}
.login .login-form .form-buttons button:first-child{
    background-color: var(--green);
}

/* form caption */
.login .login-form .form-caption{
    text-align: center;
}

.login .login-form .form-caption:last-child{
    font-size: 12px;
}

.login .login-form .form-socials {
    display: flex;
    align-items: center;
    justify-content: space-around;
}