@font-face{
  font-family: kodak;
  src: url("fonts/B\ Koodak\ Bold_0.ttf"),url("fonts/B\ Koodak\ Outline_0.ttf");
}
:root{
  --green : rgba(44, 119, 0, 0.669);
  --light-green : rgba(44, 119, 0, 0.141);
  --gray : rgba(128, 128, 128, 0.331);
  --blue : rgb(0,110,255);
  --dark : rgba(0, 0, 0, 0.859);
  --icon-color : rgba(241, 241, 241, 0.823);
  --icon-dark-color : rgb(62, 62, 62); 
  --icon-hover-color : rgba(208, 208, 208, 0.861);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:kodak,sans-serif;
}

.container{
  display: flex;
  overflow: hidden !important;
  background-color: rgba(0, 110, 255, 0.18);
  transition: 500ms;
  height: 100vh;
}
/* dark background */
.container.dark{
  background-color: rgb(32, 32, 32);
}
.chat{
  width: 992px;
  position: relative;  
  height: 100vh;
}
h2.dark,p.dark,h3.dark,h4.dark,h5.dark{
  color: white !important;
}
a{
  text-decoration: none;
}