@font-face{
  font-family: vazir;
  src: url("./fonts/Vazir.eot"),url("./fonts/Vazir-Bold.eot"),
  url("./fonts/Vazir-Light-FD-WOL.eot"),url("./fonts/Vazir-Thin-FD-WOL.eot");
}
:root{
  --green : rgba(44, 119, 0, 0.669);
  --light-green : rgba(44, 119, 0, 0.141);
  --gray : rgba(128, 128, 128, 0.331);
  --blue : rgb(0,110,255);
  --dark : rgba(0, 0, 0, 0.859);
  --icon-color : rgba(241, 241, 241, 0.823);
  --icon-dark-color : rgb(62, 62, 62); 
  --icon-hover-color : rgba(208, 208, 208, 0.861);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:vazir ,sans-serif;
}
.container{
  display: flex;
  overflow: hidden;
  background-color: rgba(0, 110, 255, 0.18);
  transition: 500ms;
}
/* dark background */
.container.dark{
  background-color: rgb(32, 32, 32);
}
.pannel{
  width: 400px
}
.chat{
  width: 992px;
  position: relative;  
  height: auto;
  height: 100vh;
}
h2.dark,p.dark,h3.dark,h4.dark,h5.dark{
  color: white !important;
}
/* media  */
@media only screen and (max-width:768px){
  .pannel{
    width: 100%;
  }
}
a{
  text-decoration: none;
}