
.pannel-apps .links{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    transition: 500ms;
}.pannel-apps .links.light{
    background-color: white;
}.pannel-apps .links.dark{
    background-color: rgba(0, 0, 0, 0.78);
}
.pannel-apps .link{
    background-color: yellow;
    text-align: center;
    border-radius: 50%;
    width: 50px;
    margin: auto;
    padding: 12px 5px;
}
.pannel{
    display: grid;
    grid-template-columns: 3fr 1fr;
}.pannel-apps .links .link .link-icon{
    transition: 500ms;
    font-size: 20px;
}.pannel-apps .links .link .link-icon.light{
    color: rgb(0, 0, 0);
}.pannel-apps .links .link .link-icon.dark{
    color: white;
}.pannel-apps .links .link.light{
    background-color: rgb(237, 237, 237);
}.pannel-apps .links .link.dark{
    background-color: rgba(0, 0, 0, 0.584);
}