.popup{
    background-color: white;
    padding: 20px;
    min-width: 200px;
    text-align: center;
    border: 1px solid var(--green);
    border-radius: 10px;
    width: 600px;
    top: 0;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 10px;
}

.popup.dark{
    background-color: var(--dark) !important;
}

/* media 768px */
@media only screen and (max-width:768px) {
    .popup{
        width: 300px;
    }
    .popup *{
        font-size: 16px !important;
    }
}

.popup .popup-title{
    color: var(--green);
}

.popup .popup-input{
    text-align: right;
    width: 100%;
    border: 1px solid gray; 
    outline: 0;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

.popup .popup-button{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: var(--green);
    border: 0;
    border-radius: 5px;
    color: white;
}

.popup-results{
    max-height: 30vh;
    overflow-y: scroll;
}

.popup-results .popup-result{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px 0;
    font-size: 18px;
    color: gray;
    overflow-x: hidden;
}

.popup .popup-results .popup-result button{
    font-size: 18px;
    color: white;
    background-color: var(--green);
    padding: 5px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms;
}

.popup-results .popup-result button:hover{
    background-color: var(--gray);
}

.popup-results .popup-result button:active{
    transform: scale(1.05);
}

/* pop up list */
.popup .popup-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.popup .popup-list .popup-list-item{
    background-color: var(--green);
    cursor: pointer;
    color: white;
    border-radius: 10px;
    transition: 200ms;
    font-size: 18px;
    padding: 10px ; 
}

.popup .popup-list .popup-list-item:hover{
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.123);
}


@keyframes hide {
    0%{
        transform: scale(100%);
    }
    99%{
        transform: scale(0);
    }
    100%{
        display: none;
    }
}

@keyframes show{
    0%{
        display: none;
    }
    1%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.popup .popup-hide{
    animation: hide both 200ms;
}

.popup .popup-show{
    animation: show both 200ms;
}
