@font-face{
  font-family: vazir;
  src: url("./static/fonts/Vazir.eot");
  src: url("./static/fonts/Vazir-Bold.eot");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vazir;
}
.container{
  display: flex;
}
.pannel{
  width: 30%;
}
.chat{
  width: 70%;
}